[submodule "thirdparty/json-rpc-cxx"]
	path = thirdparty/json-rpc-cxx
	url = https://github.com/jsonrpcx/json-rpc-cxx.git
[submodule "thirdparty/uvvm"]
	path = thirdparty/uvvm
	url = https://github.com/UVVM/UVVM.git
[submodule "hdlregression"]
	path = thirdparty/hdlregression
	url = https://github.com/HDLUtils/hdlregression.git
